@import "tailwindcss";

@media print {
  body {
    background: #ffffff !important;
    color: #000000 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  header, aside, #main-sidebar, button {
    display: none !important;
  }

  #master-preview-invoice-sheet, #master-invoice-pdf-root {
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
